*{
   margin:0;
   padding:0;
   box-sizing: border-box;

}

table{
   margin-top: 10px;
}

th, td {
   padding: 8px;
   text-align: center;
   /* border-bottom: 1px solid #ddd; */
 }

 tr:nth-child(even) {background-color: #f2f2f2;}