*{
   margin:0;
   padding:0;
   box-sizing: border-box;

}
#SearchIcon{
   width: 20%;
   position: absolute;
   top: 52px;
   left: 102px;
   font-size: 2rem;
   padding: 2px;
   color: rgb(202, 199, 199);
}
table{
   margin-top: 10px;
   border: 2px solid #252525;
}

th, td {
   padding: 8px;
   text-align: center;
   /* border-bottom: 1px solid #ddd; */
 }

 tr:nth-child(even) {background-color: #d6d4d4;}